*.DS_Store
.DS_Store
.venv/*
tex_dir/paper_draft.aux
tex_dir/paper_draft.fdb_latexmk
tex_dir/paper_draft.fls
tex_dir/paper_draft.log
tex_dir/paper_draft.out
tex_dir/paper_draft.pdf
tex_dir/paper_draft.synctex.gz